.App {
  font-family: sans-serif;
  text-align: center;
  width: 90%;
  color: black;
}
.full {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: black;
}
